:root{

    --clr-primary: rgba(53, 53, 53, 1);
    --clr-secondary: rgba(255, 210, 52, 1);
    --clr-secondary-transparent: rgba(239, 206, 87, 0.93);
    --clr-secondary-darker: rgba(204, 159, 0, 1);

    --ff-primary: 'Poppins', sans-serif;

}

*,
*::after,
*::before{
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

body,
h1,
h2,
h3,
p{
    padding: 0;
    margin: 0;
}

.space-bot{
    margin-bottom: 2rem;
}

.flex{
    display: flex;
}

body{
    background-color: var(--clr-primary);
}

/* navbar */

nav{
    background-color: var(--clr-secondary);
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

nav img{
    width: 4rem;
}

nav .burger-icon{
    height: 100%;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: space-between;
}

nav .burger-icon span{
    width: 2rem;
    border: 2px solid var(--clr-secondary-darker);
}

/* Sidebar */

.sidebar{
    z-index: 3;
    color: rgb(172, 163, 163);
    position: fixed;
    height: 100%;
    width: 80%;
    right: -100%;
    background-color: var(--clr-primary);
    padding-left: 2rem;
    font-size: 20px;
    transition: right 1s;
}

.sidebar .close-burger span{
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
    border: 2px solid var(--clr-secondary);
    width: 3rem;
}

.sidebar .close-burger .first-line{
    transform: rotate(45deg);
}

.sidebar .close-burger .second-line{
    transform: rotate(-45deg);
}

.sidebar .home{
    margin-top: 6rem;
}

/* Dropdown Sidebar */

.drop-down-content{
    overflow: scroll;
    height: 200px;
    padding-left: 1.5rem;
    padding-right: 3.5rem;
}

.drop-down-content p{
    padding: 0.4rem 0;
}

.drop-down-content hr{
    width: 100%;
}

.drop-down-sidebar{
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.drop-down-button-sidebar.active + .drop-down-sidebar{
    visibility: visible;
    opacity: 1;
    max-height: 10rem;
    overflow: scroll;
}

/* Main */

main{
    padding: 3rem 3.5rem;
}

main > h1{
    color: white;
    font-size: 20px;
    margin: 3rem 0;
    text-align: center;
}

.search-bar{
    width: 100%;
}

.search-bar-bar{
    padding: 0.8rem 1rem;
    width: 100%;
    border-radius: 10rem;
    background-color: rgba(255, 255, 255, 0.85);
}

/* Dropdown main */

.drop-down-button{
    padding: 0.5rem 1rem;
    background-color: var(--clr-secondary);
    margin-top: 1rem;
    border-radius: 10rem;
}

.drop-down-button.active{
    border-radius: 1rem 1rem 0 0;
}

.drop-down-main{
    background-color: var(--clr-secondary);
    border-radius: 0 0 1rem 1rem;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.drop-down-button.active + .drop-down-main{
    visibility: visible;
    opacity: 1;
    max-height: 10rem;
    overflow: scroll;
}

.drop-down-main-content p{
    padding: 0.5rem;
    margin-left: 2rem;
}

.drop-down-main-content hr{
    background-color: var(--clr-primary);
}

/* List img */

.list-img{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.char-img img{
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
}

.char-img p{
    color: white;
}