:root{

    --clr-primary: rgba(53, 53, 53, 1);
    --clr-secondary: rgba(255, 210, 52, 1);
    --clr-secondary-transparent: rgba(239, 206, 87, 0.93);
    --clr-secondary-darker: rgba(204, 159, 0, 1);

    --ff-primary: 'Poppins', sans-serif;

}

*,
*::after,
*::before{
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

body,
h1,
h2,
h3,
p{
    padding: 0;
    margin: 0;
}

.space-bot{
    margin-bottom: 2rem;
}

.flex{
    display: flex;
}

.responsive{
    display: none;
}

body{
    background-color: var(--clr-primary);
}

/* navbar */

nav{
    background-color: var(--clr-secondary);
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

nav img{
    width: 4rem;
}

nav .burger-icon{
    height: 100%;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: space-between;
}

nav .burger-icon span{
    width: 2rem;
    border: 2px solid var(--clr-secondary-darker);
}

/* Sidebar */

.sidebar{
    z-index: 3;
    color: rgb(172, 163, 163);
    position: fixed;
    height: 100%;
    width: 80%;
    right: -100%;
    background-color: var(--clr-primary);
    padding-left: 2rem;
    font-size: 20px;
    transition: right 1s;
}

.sidebar .close-burger span{
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
    border: 2px solid var(--clr-secondary);
    width: 3rem;
}

.sidebar .close-burger .first-line{
    transform: rotate(45deg);
}

.sidebar .close-burger .second-line{
    transform: rotate(-45deg);
}

.sidebar .home{
    margin-top: 6rem;
}

.link-other a{
    text-decoration: none;
    color: rgb(172, 163, 163);
}

/* Dropdown Sidebar */

.drop-down-content{
    height: 200px;
    padding-left: 1.5rem;
    padding-right: 3.5rem;
}

.drop-down-content a{
    text-decoration: none;
    color: rgb(172, 163, 163);
}

.drop-down-content p{
    padding: 0.4rem 0;
}

.drop-down-content hr{
    width: 100%;
}

.drop-down-sidebar{
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.drop-down-button-sidebar.active + .drop-down-sidebar{
    visibility: visible;
    opacity: 1;
    max-height: 10rem;
    overflow: scroll;
}


/* main */

main{
    color: white;
    padding: 2rem;
}

main img{
    width: 100%;
}

main h1{
    text-align: center;
    margin: 1rem 0;
}

main li{
    margin: 0;
}

@media screen and (min-width: 1024px){

    .space-left{
        margin-left: 2.5rem;
    }

    nav{
        justify-content: flex-start;
    }

    .burger-icon{
        display: none;
    }

    .responsive{
        display: flex;
    }

    .responsive a{
        display: block;
    }

    /* dropdown nav */

    .nav-categories{
        flex-direction: column;
    }

    .drop-down-nav{
        display: none;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
    }

    .nav-categories a{
        text-decoration: none;
        color: black;
    }

    .drop-down-button-nav{
        padding: 1rem;
    }
    
    .nav-categories.active .drop-down-nav{
        display: block;
        opacity: 1;
        max-height: 12rem;
        overflow: scroll;
        z-index: 10;
        background-color: var(--clr-secondary);
    }

    .nav-categories.active .drop-down-nav::-webkit-scrollbar {
        display: none;
    }
      
      /* Hide scrollbar for IE, Edge and Firefox */
    .nav-categories.active .drop-down-nav{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    } 

    .drop-down-content p a{
        color: var(--clr-primary);
    }

    .drop-down-button-nav:hover, .drop-down-content p:hover{
        cursor: pointer;
        background-color: rgba(186, 149, 18, 1);
    }

    /* main */

    main{
        background-size: cover;
    }

    main .content{
        margin: 0 10rem;
        margin-top: -5rem;
    }

    main .content .btn, main .content .btn:hover{
        transition: 0.3s;
    }

    main .content .btn:hover{
        cursor: pointer;
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
    }


}